<div class="curso-card-container" clickWithoutMove (onClickWithoutMove)="goToVisualizarCurso(curso)">
  <mat-card highlight class="curso-card z-1" [ngClass]="{'bgc-teal-500' : curso.aprovado, 'bgc-blue-grey-600' : curso.pendente}"
    #card>
    <div *ngIf="curso?.imagem" mat-card-image [style.background-image]="'url('+curso.imagem+')'" class="curso-card-image image-cover bgc-grey-300"
      layout="row" layout-align="end start">
      <div *ngIf="curso?.turmas?.length > 1" class="turmas-circle z-2" layout="column" layout-align="center center">
        <span class="turma-text" *ngIf="curso?.turmas">{{curso?.turmas?.length}}</span>
        <span class="turma-small-text">Turmas</span>
      </div>
    </div>
    <div *ngIf="!curso?.imagem" mat-card-image class="curso-card-image image-cover bgc-grey-200" layout="row" layout-align="center center">
      <span class="md-caption tc-grey-400">Este curso não possui imagem</span>
    </div>
    <mat-card-content class="text-left">
      <div layout="row" layout-align="start center" class="size-height-50">
        <!--ngClass verifica se o elemento excedeu o tamanho da div, se caso sim coloca as reticências-->
        <span #cursoNome class="md-title curso-nome text-upper" [ngClass]="{'tc-grey-700': curso.rascunho, 'tc-grey-50': !curso.rascunho}">{{curso.nome}}</span>
      </div>
      <div *ngIf="curso?.proximaTurma">
        <div layout="row" layout-align="start center" class="curso-card-line" *ngIf="curso?.proximaTurma?.tipoTurma == 'DISTANCIA'">
          <mat-icon class="curso-card-icon md-18" [ngClass]="{'tc-blue-grey-200': curso.rascunho, 'tc-grey-50': !curso.rascunho}">code</mat-icon>
          <a href="{{curso?.proximaTurma?.plataforma}}" class="md-caption" [ngClass]="{'tc-grey-700': curso.rascunho, 'tc-grey-50': !curso.rascunho}">{{curso?.proximaTurma?.plataforma}}</a>
        </div>
        <div layout="row" layout-align="start center" class="curso-card-line" *ngIf="curso?.proximaTurma?.tipoTurma == 'PRESENCIAL' || curso?.proximaTurma?.tipoTurma == 'SEMIPRESENCIAL'">
          <mat-icon class="curso-card-icon md-18" [ngClass]="{'tc-blue-grey-200': curso.rascunho, 'tc-grey-50': !curso.rascunho}">place</mat-icon>
          <span *ngIf="curso?.proximaTurma?.endereco?.cidade?.nome" class="md-caption" [ngClass]="{'tc-grey-700': curso.rascunho, 'tc-grey-50': !curso.rascunho}"> {{curso?.proximaTurma?.endereco?.cidade?.nome}} </span>
          <span *ngIf="curso?.proximaTurma?.endereco?.cidade?.estado?.uf" class="md-caption" [ngClass]="{'tc-grey-700': curso.rascunho, 'tc-grey-50': !curso.rascunho}"
            style="white-space: pre"> - {{curso?.proximaTurma?.endereco?.cidade?.estado?.uf}}</span>
        </div>
        <div layout="row" layout-align="start center" class="curso-card-line">
          <mat-icon class="curso-card-icon md-18" [ngClass]="{'tc-blue-grey-200': curso.rascunho, 'tc-grey-50': !curso.rascunho}">person_pin</mat-icon>
          <span class="md-caption" [ngClass]="{'tc-grey-700': curso.rascunho, 'tc-grey-50': !curso.rascunho}"><b>{{curso?.proximaTurma?.vagasDisponiveis}} vagas disponíveis</b></span>
        </div>
      </div>
      <div *ngIf="!curso?.proximaTurma" layout="row" layout-align="start end" class="proxima-turma-content">
        <span class="md-caption" style="padding-bottom: 7px" [ngClass]="{'tc-grey-700': curso.rascunho, 'tc-grey-50': !curso.rascunho}" >Não possui turmas disponíveis</span>
      </div>
      <div style="margin-top: 10px">
        <span class="md-caption" [ngClass]="{'tc-grey-600' : curso.rascunho, 'tc-grey-50': !curso.rascunho}">{{(curso.rascunho)?"EM RASCUNHO":(curso.pendente)?"EM ANÁLISE":(curso.aprovado)?"PUBLICADO":"sem status"}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>