<form #formControl="ngForm" (ngSubmit)="saveAula($event, formControl)" ngNativeValidate class="bgc-grey-200" style="border-radius: 2px; padding: 16px">
  <div layout="row" layout-margin>
    <b class="tc-grey-800 aula-title" flex>{{aula?.id ? "Alterar aula" : "Inserir aula"}}</b>
  </div>
  <div>
    <div layout="row" layout-align="start start" layout-margin flex>

      <div layout="column" flex>
        <md2-datepicker [(ngModel)]="aula.inicio" (ngModelChange)="getIsInicioValidInterval()" name="inicio" [max]="aula?.termino" [min]="tomorrow" type="date" placeholder="Início"
          [required]="true"></md2-datepicker>
        <div layout="row" layout-align="end start"  flex>
          <mat-error class="md-caption" *ngIf="!aula.inicio">Campo obrigatório</mat-error>
          <mat-error class="tc-grey-800 md-caption" style="margin-left: 10px" *ngIf="aula.inicio && !isInicioValidInterval">{{(diffBetweenTodayInicio < 1)? "É" : (diffBetweenTodayInicio == 1)? "1 dia é" : diffBetweenTodayInicio + " dias é"}} pouco tempo para divulgar seu curso. Recomendamos 45 dias</mat-error>
        </div>
      </div>

      <mat-form-field class="horario-input" flex>
        <input matInput #horarioInicioForm="ngModel" [textMask]="{mask: masks.time, guide: false}" [(ngModel)]="horarioInicio" name="horarioInicio"
          placeholder="Horário de início" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" required>
        <mat-error *ngIf="horarioInicioForm.errors?.pattern">Forneça um horário válido</mat-error>
      </mat-form-field>
    </div>

    <div layout="row" layout-align="start start" layout-margin flex>

      <div layout="column" flex>
        <md2-datepicker [(ngModel)]="aula.termino" name="termino" [min]="aula?.inicio" type="date" placeholder="Término" [required]="true"></md2-datepicker>
        <div layout="row" layout-align="end start" flex>
          <mat-error class="md-caption" *ngIf="!aula.termino">Campo obrigatório</mat-error>
        </div>
      </div>

      <mat-form-field class="horario-input" flex>
        <input matInput #horarioTerminoForm="ngModel" [(ngModel)]="horarioTermino" [textMask]="{mask: masks.time, guide: false}" name="horarioTermino"
          placeholder="Horário de término" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" required>
        <mat-error *ngIf="horarioTerminoForm.errors?.pattern">Forneça um horário válido</mat-error>
      </mat-form-field>
    </div>

    <div layout="column" *ngIf="aula?.turma?.tipoTurma == 'SEMIPRESENCIAL'" class="push-left" flex>
      <span class="md-caption tc-grey-700" layout-margin>Tipo da aula<span class="tc-red-500">*</span></span>
      <mat-radio-group [(ngModel)]="aula.tipoAula" name="tipoAula" required>
        <mat-radio-button value="PRESENCIAL" layout-margin>Presencial</mat-radio-button>
        <mat-radio-button value="DISTANCIA" layout-margin>EAD</mat-radio-button>
      </mat-radio-group>
    </div>

  </div>

  <div layout-gt-sm="row" flex class="push-top" layout-margin>
    <div flex layout-margin>
      <button mat-raised-button color="accent" type="submit">
        SALVAR AULA
      </button>
    </div>
    <div flex-gt-sm="80">
    </div>
    <div flex layout-margin>
      <button type="button" mat-raised-button class="bgc-blue-grey-300 tc-grey-50 text-upper" (click)="cancelar()">CANCELAR
      </button>
    </div>
  </div>

</form>