<footer class="copyright-footer-container bgc-grey-50 pad-top pad-bottom" layout="row" layout-align="center center">
  <div layout="column" flex>
    <div layout-xs="column" layout-align-xs="start start" style="margin-bottom: 6px">
      <a class="decoration-none md-body-1 tc-grey-900 pad-right" target="_blank"  href="http://blog.thefullclass.com">Blog</a>
      <a class="decoration-none md-body-1 tc-grey-900 pad-right" routerLink="/sobre">Sobre nós</a>
      <a class="decoration-none md-body-1 tc-grey-900 pad-right" routerLink="/conta/criar-conta/aluno">Seja um aluno</a>
      <a class="decoration-none md-body-1 tc-grey-900" target="_blank"   href="http://help.thefullclass.com">Ajuda</a>
    </div>
    <div class="md-caption" layout-xs="column" layout-align-xs="start start">
        <span class="tc-grey-500">Copyright © 2017 THE FULL CLASS</span>
        <a class="decoration-none tc-grey-500" routerLink="/termos-uso">Termos de uso</a>
    </div>
  </div>
</footer>
