.visualizar-curso-text{
    line-height: 1.86;
}

.divider{
    margin: 32px -32px 32px -32px;
}

.turmas-disponiveis-container
{
    margin: 20px -32px 20px -32px;
    padding: 32px 32px 32px 32px;
} 