<div class="sobre-background" layout="column" layout-align="center center" style="padding-top: 50px; padding-bottom: 50px">
  <h1 class="tc-grey-50 text-center">Somos a THE FULL CLASS</h1>
</div>
<home-container [maxWidth]="'1280px'">
  <mat-card class="push-top">
    <mat-card-content>
      <div class="pad">
        <div layout="row" layout-align="center center">
          <h1 class="tc-grey-800">SOBRE NÓS</h1>
        </div>
        <div layout-gt-xs="row" layout-xs="column">
          <div layout="column" layout-align="center center" flex>
            <img src="../static/images/quem-somos.png" style="width: 400px">
          </div>
          <div layout="row" layout-align="center center" flex="60" flex>
            <div class="tc-grey-800" style="line-height: 1.5em; font-size: 16px">
              <p>
                The Full Class é uma plataforma digital do segmento "do It yourself", para que as pessoas anunciem, descubram, e demandem
                treinamentos, conectando os Instrutores aos Alunos interessados em capacitações. O diferencial da empresa
                está na divulgação e gerenciamento dos cursos, tais como emissão de certificados, lista de presença e feedback
                do treinamento realizado.
              </p>
              <p>
                Ao aluno, a ferramenta facilita a busca dos cursos de interesse em um só lugar, além disso, possibilita a sugestão de capacitações
                não disponíveis. De maneira inovadora, a The Full Class se faz valer da era do conhecimento, estreitando
                o alcance dos atores interessados no segmento de capacitações, de maneira fácil, econômica e objetiva, atuando
                na divulgação e publicação de cursos em qualquer lugar do Brasil.
              </p>
            </div>
          </div>
        </div>
        <div layout="row" class="push-top" layout-align="center center">
          <b class="tc-blue-grey-800" style="white-space: pre">contato: </b>
          <span> sac@thefullclass.com </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</home-container>